@charset "UTF-8";
body {
    text-align: center;
    background-color: #EEE;
}
h1 > a {
    text-decoration: none;
}
nav {
    position: absolute;
    left: 30px;
    top: 100px;
    width: 270px;
    height: 100%;
    background: gray;
}
nav  ul  li  a {
    display: block;
    background-color: aqua;
}
nav  ul  li  a:hover {
    background-color: red;
}
main {
    position: absolute;
    left: 300px;
    top: 100px;
    width: 70%;
    height: 100%;
    background: lightgray;
}
main img {
    width : 300px;
}