@charset "UTF-8";

header {
    position: absolute;
    background-color: lightgray;
    left: 30px;
    top: 100px;
    width: 270px;
    height: 300px;
}
header > h1 {
    font-size: 20px;
}
h1 > a {
    text-decoration: none;
}
header > img {
    width : 100px;
}
.contents {
    position: absolute;
    left: 30px;
    top: 400px;
    width: 270px;
    height: 100%;
    background: gray;
}
.main {
    position: absolute;
    left: 300px;
    top: 100px;
    width: 70%;
    height: 100%;
    background: lightgray;
}
.main img {
    width : 300px;
}