@charset "UTF-8";

/*global setting*/
body {
    text-align: center;
    background-color: #EEE;
}
a {
    display: block;
    font-weight: bold;
    color : white;
}
a:hover {
    color: red;
}
/* header */
header h1{
    font-size : 22px;
    font-weight: bold;
    height : 100px;
    line-height: 100px;
}
header h1 a {
    color : black;
}
/* nav */
nav {
    position: relative;
    background: gray;
    box-shadow: black 0 1px 3px;
    margin:  0;
}
nav #gnb {
    overflow: hidden;
    
    width : 600px;
    margin : 0 auto;
    
}
nav #gnb li{
    float : left;
    width : 150px;
    height : 60px;
    line-height: 60px;
}
/* main */
main {
    padding-top : 20px;
    background: #fff;
    height : 2000px;
}
main img {
    margin : 10px;
    width : 300px;
    border : 1px solid;
}