@charset "UTF-8";

.child
{
  align-content : center;
}
h2, .txt1
{
  color:plum;
  text-align: center;
}
.txt2
{
  margin-top: 50px;
  text-align: center;
}
.txt3
{
  color:purple;
  text-align: center;
  font-weight: bold;
}