@charset "UTF-8";

/*inform(메인 정보)*/
.inform
{
  background-color: lightslategray;
  text-align: center;
}
.inform > h1 {
  color: white;
  background-color: gray;
  text-align: center;
}
.inform > .caution
{
  color: red;
  font-size: 12px;
}
.inform > .reserv
{
  color: white;
  background-color: darkred;
  text-decoration: line-through;
}
.inform > .reserv:hover
{
  background-color: white;
  color:black;
}
.inform > ul{
  list-style:none;
  }
/*나머지....*/
.more_inform
{
  font-size: 22px;
  color: red;
  text-decoration: underline;
  text-align: center;
}
h3{
    background-color: lightslategray;
    text-align: right;
}
.txt1{
  background-color: orange;
}
ul 
{
  font-weight: bold;
}
li > .caution
{
  color: red;
  font-size: 24px;
  line-height: 0%;
}