@charset "UTF-8";

.txt1
{
  font-family: '돋움' sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: blue;
}
.txt2
{
  font-family: '굴림' sans-serif;
  color: #E8334D;
  font-style: italic;
  font-size: 16px;

}
.txt3
{
  font-family: '돋움' sans-serif;
  text-decoration: underline;
  font-size: 12px;
}
.txt4
{
  font-family: '돋움' sans-serif;
  font-size: 15px;
  text-indent: 10px;
}
.txt5
{
  font-family: '돋움' sans-serif;
  line-height: 50px;
  font-size: 16px;
  font-weight: bold;
  color: green;
}
.txt6
{
  font-family: '돋움' sans-serif;
  text-decoration: underline;
  font-weight: bold;
  font-size: 20px;
  text-align: right;
}