@charset "UTF-8";
body {
  background-color: darkgoldenrod;
}
h2 {
  background-color: darkcyan;
}
#title1 {
  color: red;
}
#title2 {
  color: skyblue;
}
#title3 {
  color: white;
}
#title4 {
  color: brown;
}
